@model Client

@{
    ViewBag.PageTitle = "Client Details";
    //var photoPath = "~/images/" + (Model.Photo ?? "user.png");
}

    <div class="row justify-content-center m-3">
       
        <div class="col-sm-8">
            @*BOTON PARA ACTIVAR VISTA DE INFORMACION GENERAL*@
            <a asp-controller="home" asp-action="clientindex" class="btn btn-dark text-black m-1 mt-0 fa fa-1x fa-arrow-left"
               id="btnoverview" onclick="showHideInfo()"
               style="visibility: visible;">&nbsp;&nbsp; Go Back To Menu</a>
            @*----------------------------------------------------------*@
            <div class="card mt-1">
                <div class="card-header">
                    <h1>@Model.Company_Name</h1>
                </div>

                <div class="card-body text-center">
                    @*<img class="card-img-top" src="@photoPath" asp-append-version="true" />*@
                    <br />
                    <h4 class="text-black-50">Company Name : @Model.Company_Name</h4>
                    <hr />
                    @*<h4>Photo : @Model.Photo</h4>
                    <hr />*@
                    <h4 class="text-black-50">Contact Name : @Model.Contact_Name</h4>
                    <hr />
                    <h4>Job Title : @Model.Job_Title</h4>
                    <hr />
                    <h4>Email : @Model.Email</h4>
                    <hr />
                    <h4 class="text-black-50">City : @Model.City</h4>
                    <hr />
                    @*<h4>State : @Model.State</h4>*@
                    <br />
                </div>
                <div class="card-footer text-center bg-dark" style="background:#442222;">
                    <a asp-controller="home" asp-action="clientlist" class="btn btn-dark text-black m-1 buttonlightred">Back</a>
                    <a href="#" class="btn btn-dark text-black m-1 buttonlightred">Edit</a>
                    <a href="#" class="btn btn-dark text-black m-1 buttonlightred">Delete</a>
                </div>
            </div>
        </div>
    </div>

@section Scripts {
    <script src="~/js/CustomScript.js"></script>
}